@import "./mixins.module.scss";
.main {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  h2 {
    @include title;
  }
  img {
    @include img;
  }
  button {
    width: 40%;
    @include addButton;
    @include transition(1.2);
  }
}

.stats {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  width: 100%;
  span {
    @include transition(1.3);
  }
}
