@import "./mixins.module.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;
  width: 30rem;
  margin: -15rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  display: grid;
  gap: 2em;
  align-items: center;
  justify-items: center;
  svg:nth-of-type(1) {
    justify-self: end;
    @include transition(1.5);
    @include spinTransform;
  }
  div:nth-of-type(1) {
    display: grid;
    justify-items: center;
    gap: 1em;
  }

  div:nth-of-type(2) {
    width: 100%;
    display: grid;
    gap: 1em;
    justify-items: center;
    select {
      width: 50%;
      font-size: 1em;
      font-weight: 800;
    }
  }
  img {
    @include img;
  }
  h1 {
    @include title;
  }
  button {
    width: 50%;
    @include addButton;
    // @include transition(1.1);
  }
}

.stats {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 100%;
  span {
    @include transition(1.3);
  }
}

.bounce {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
